<app-authcheck role="USER" redirectIfFails>
  <div class="feed">
    <div class="left" *ngIf="auth.isLoggedIn()">
      <mat-card class="userProfile">
        <h2>Your Profile</h2>
        <span
          class="userImage"
          [style.background-image]="
            profileService.getDp(auth.getCurrentUser().dp, true)
          "
        ></span>
        <h3>
          {{ auth.getCurrentUser().firstName }}
          {{ auth.getCurrentUser().lastName }}
        </h3>
        <a routerLink="/profile" mat-stroked-button>Edit Profile</a>
      </mat-card>
    </div>
    <div class="center">
      <app-createnewpost></app-createnewpost>
      <br /><br />
      <mat-divider></mat-divider>
      <br /><br />
      <div class="posts">
        <ng-container *ngIf="posts.length === 0">
          <mat-card>There are no posts on your feed.</mat-card>
        </ng-container>
        <mat-card class="example-card" *ngFor="let post of posts">
          <mat-card-header>
            <div
              [style.background-image]="
                profileService.getDp(post.user.dp, true)
              "
              mat-card-avatar
              class="example-header-image"
            ></div>
            <mat-card-title
              >{{ post.user.firstName }}
              {{ post.user.lastName }}</mat-card-title
            >
            <mat-card-subtitle>{{
              post.user.profileHeader || post.createdAt
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ post.text }}
            </p>
          </mat-card-content>
          <div
            class="media"
            *ngIf="
              (post.media && post.media.images.length) ||
              post.media.video.length
            "
          >
            <img
              [src]="api.getServerUrl(image.url)"
              alt="Image video"
              *ngFor="let image of post.media.images"
            />
            <video
              [controls]="true"
              [muted]="true"
              [autoplay]="true"
              [src]="api.getServerUrl(video.url)"
              alt="Post video"
              *ngFor="let video of post.media.video"
            ></video>
          </div>
          <br />
          <mat-divider></mat-divider>
          <mat-card-actions class="actions">
            <div>
              <button
                [color]="post.liked ? 'primary' : 'accent'"
                (click)="likePost(post.id)"
                mat-stroked-button
              >
                {{ post.liked ? "Liked" : "Like" }}
              </button>
              <span class="likeCount" mat-caption>{{
                countLikes(post.likes)
              }}</span>
            </div>
            <div *ngIf="post.selfPost">
              <button (click)="deletePost(post.id)" mat-stroked-button>
                Delete
              </button>
            </div>
            <div *ngIf="!post.selfPost">
              <span mat-caption>{{ post.createdAt }}</span>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="right">
      <h1 *ngIf="connections.length > 0">You may know</h1>
      <div class="connections">
        <mat-card *ngFor="let connection of connections">
          <mat-card-actions class="connection">
            <div>{{ connection.firstName }}</div>
            <button mat-stroked-button>Connect</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</app-authcheck>
