.profileSections {
  max-width: 50vw;
  margin: 0 auto;
  min-width: min-content;
}
.mat-card-actions {
  text-align: right;
}
.basicDetails {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.left {
  padding: 1rem;
  height: 100%;
  text-align: center;
  display: grid;
}
.dpUpload {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #26262620;
}
.dpUpload img {
  width: 100%;
  height: 100%;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
}
.mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.metaTable {
  min-width: min-content;
  box-shadow: none;
  width: 100%;
}

.metaDataPopup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: #26262650;
  width: 100%;
  height: 100%;
}
