.admincards {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  gap: 2rem;
  max-width: 80vw;
  min-width: min-content;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .admincards {
    grid-template-columns: 0fr 1fr 1fr 0fr;
  }
}
@media screen and (max-width: 768px) {
  .admincards {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
  }
}
