<mat-toolbar class="pc_header" color="primary">
  <div class="left">
    <app-logo
      [link]="
        auth.isLoggedIn() && auth.getCurrentUser().role === 'ADMIN'
          ? '/admin'
          : '/'
      "
    ></app-logo>
  </div>
  <div class="center"></div>
  <div class="right" *ngIf="auth.isLoggedIn() === false">
    <a routerLink="/login" mat-button>Sign in</a>
    <a routerLink="/register" color="primary" mat-raised-button>Register</a>
  </div>
  <div class="right" *ngIf="auth.isLoggedIn() === true">
    Hi {{ auth.getCurrentUser().firstName }}!
    <span
      class="profileIcon"
      [style.background-image]="
        profileService.getDp(auth.getCurrentUser().dp, true)
      "
      [matMenuTriggerFor]="headerMenu"
    ></span>
    <mat-menu #headerMenu="matMenu">
      <ng-container *ngIf="auth.getCurrentUser().role === 'USER'">
        <a mat-menu-item routerLink="/profile">Profile</a>
      </ng-container>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
